/* General body styling */
body {
    color: #333;
    background-color: #FFEBD8;
    font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
    font-size: 1.2em;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

/* Inherit font settings for form elements */
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Subtitle styling */
p.subtitle {
    font-family: 'Lora', serif;
    margin-bottom: 20px;
}

/* ======================================================== */
/* Form container styling */
/* ======================================================== */
form {
    background-color: #fefefe;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: 20px 0 40px;
}

/* Image styling */
img {
    width: 80%;
    height: auto;
}

/* Label styling */
label {
    margin-bottom: 10px;
    display: block;
}

/* Text input field styling */
input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Suggestions list styling */
ul.suggestions {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 30vh;
    overflow-y: auto;
}

ul.suggestions li {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

ul.suggestions li:hover {
    background-color: #f0f0f0;
}

/* Submit button styling */
button.submitBtn {
    margin-top: 20px;
    padding: 12px 20px;
    color: #fff;
    background-color: #ff7800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.submitBtn:disabled {
    background-color: #999;
    cursor: not-allowed;
}

button.submitBtn:hover:enabled {
    background-color: #e66900;
}

/* Default tab styling */
button.Tab {
    color: #333;
    background-color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Active tab styling */
button.Tab.active-tab {
    color: #fff;
    background-color: #ff7800;
}

/* ======================================================== */
/* Download button */
/* ======================================================== */
.download-btn {
    display: inline-flex;
    align-items: center;
    background-color: #eee;
    color: #333;
    border: 1px solid #666;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.1s;
}

.download-btn:hover {
    background-color: #f8e58c;
}

.download-btn:active {
    transform: scale(0.95);
}

.download-btn i {
    margin-right: 8px;
}

/* ======================================================== */
/* Footer styling */
/* ======================================================== */

footer {
    margin: 20px 0 10px;
    padding: 20px;
    width: 100%;
    color: #666;
    font-size: 0.9em;
}

footer p {
    margin: 5px 0 0;
}

footer a {
    color: #666;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
