/* ======================================================== */
/* Main */
/* ======================================================== */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: "Lato", "Arial", "Helvetica", sans-serif;
    color: #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #ff8c00;
    text-decoration: none;
}

.header-container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: calc(100% - 60px);
    max-height: 800px;
    box-sizing: border-box;
    margin-top: 0;
    align-items: flex-start;
}

.control-panel-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
    box-sizing: border-box;
    min-width: 25%;
}

/* ======================================================== */
/* slider-container */
/* ======================================================== */

.slider-container {
    display: block;
    align-items: center;
    margin-bottom: 15px;
}

.control-label {
    margin-right: 10px;
}

.slider-element {
    margin-top: 20px;
    margin-bottom: 10px;
}

.slider-value {
    display: inline-block;
    width: 25px;
    text-align: center;
}

/* ======================================================== */
/* search-container */
/* ======================================================== */

/* Search container layout */
.search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

/* Input style */
#gene-search {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

/* Input focus */
#gene-search:focus {
    border-color: #999;
}

/* Search button */
#search-button {
    margin-top: 8px;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #ffebd8;
    cursor: pointer;
}

/* Suggestions list */
ul.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    margin: 4px 0 0 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 30vh;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Suggestion items */
ul.suggestions li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul.suggestions li:hover {
    background-color: #ffebd8;
}

/* ======================================================== */
/* checkbox-container */
/* ======================================================== */

.checkbox-container {
    display: block;
    margin-bottom: 5px;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #ff8c00;
}

/* ======================================================== */
/* cy-container */
/* ======================================================== */

.cy-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.cy {
    width: 100%;
    height: calc(100% - 130px);
}

.color-scale-container,
.edge-scale-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.scale-label {
    margin-top: 5px;
}

/* ======================================================== */
/* Custom styles for noUiSlider */
/* ======================================================== */

.noUi-target {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.noUi-horizontal {
    height: 10px;
}

.noUi-connect {
    background-color: #aaa;
}

/* ======================================================== */
/* Exporter */
/* ======================================================== */
.exporter {
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 20px;
    margin-top: 10px;
    cursor: pointer;
}
