html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
    color: #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #FF8C00;
    text-decoration: none;
}

.header-container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: calc(100% - 60px);
    max-height: 800px;
    box-sizing: border-box;
    margin-top: 0;
    align-items: flex-start;
}

.control-panel-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
    box-sizing: border-box;
    min-width: 25%;
}

/* ======================================================== */
/* slider-container */
/* ======================================================== */

.slider-container {
    display: block;
    align-items: center;
    margin-bottom: 15px;
}

.control-label {
    margin-right: 10px;
}

.slider-element {
    margin-top: 20px;
    margin-bottom: 10px;
}

.slider-value {
    display: inline-block;
    width: 25px;
    text-align: center;
}

/* ======================================================== */
/* checkbox-container */
/* ======================================================== */

.checkbox-container {
    display: block;
    margin-bottom: 5px;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #ff8c00;
}

/* ======================================================== */
/* cy-container */
/* ======================================================== */

.cy-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.cy {
    width: 100%;
    height: calc(100% - 130px);
}

.color-scale-container,
.edge-scale-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.scale-label {
    margin-top: 5px;
}


/* ======================================================== */
/* Custom styles for noUiSlider */
/* ======================================================== */

.noUi-target {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.noUi-horizontal {
    height: 10px;
}


.noUi-connect {
    background-color: #aaa;
}


/* ======================================================== */
/* Exporter */
/* ======================================================== */
.exporter {
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 20px;
    margin-top: 10px;
    cursor: pointer;
}
